/* /Components/Layout/LoginHomeLayout.razor.rz.scp.css */
/* ĐÈ NỀN RIÊNG CHO TRANG DÙNG LAYOUT NÀY */
.layout-bg[b-8rsmks82p6] {
    min-height: 100vh;
    width: 100%;

    background-image: url("/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.user-icon[b-8rsmks82p6] {
    text-align: center;
    font-size: 60px;
    top: 10px;
}

    .user-icon img[b-8rsmks82p6] {
        width: 6rem;
        height: 6rem;
        object-fit: contain;
    }
/* .top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
.top-row .me-auto[b-8rsmks82p6] {
    font-size: 30px;
}

.login-btn[b-8rsmks82p6] {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 6px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

    .login-btn:hover[b-8rsmks82p6] {
        background-color: #1d4ed8;
    }

.page[b-8rsmks82p6] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-8rsmks82p6] {
    flex: 1;
}
.home-btn[b-8rsmks82p6] {
    margin-top: 30px;
    display: inline-block; /* quan trọng */
}
.sidebar[b-8rsmks82p6] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-8rsmks82p6] {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 4.5rem;
    padding: 0 2rem;
    background: transparent;
    border-bottom: none;
}
    /* .top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
} */

    .top-row[b-8rsmks82p6]  a, .top-row[b-8rsmks82p6]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row[b-8rsmks82p6]  a:hover, .top-row[b-8rsmks82p6]  .btn-link:hover {
            text-decoration: underline;
        }

        .top-row[b-8rsmks82p6]  a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row[b-8rsmks82p6] {
        justify-content: space-between;
    }

        .top-row[b-8rsmks82p6]  a, .top-row[b-8rsmks82p6]  .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page[b-8rsmks82p6] {
        flex-direction: row;
    }

    .sidebar[b-8rsmks82p6] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-8rsmks82p6] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth[b-8rsmks82p6]  a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row[b-8rsmks82p6], article[b-8rsmks82p6] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-8rsmks82p6] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-8rsmks82p6] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.logo[b-8rsmks82p6] {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    margin-left: 4.75rem;
    margin-top: 3rem;
}

.nav-links[b-8rsmks82p6] {
    display: flex;
    gap: 0.75rem;
    margin-left: auto; /* 👈 đẩy cả khối sang phải */
    margin-right: 7rem; /* 👈 kéo về bên trái một chút */
    margin-top: 3rem;
}

    .nav-links a[b-8rsmks82p6] {
        font-size: 1.15rem;
        font-weight: 500;
        color: white;
        text-decoration: none;
    }

        .nav-links a:hover[b-8rsmks82p6] {
            text-decoration: underline;
        }
.popup-overlay[b-8rsmks82p6] {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    z-index: 9998;
}

.popup-box[b-8rsmks82p6] {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 24px;
    border-radius: 16px;
    width: 320px;
    z-index: 9999;
    box-shadow: 0 15px 40px rgba(0,0,0,0.35);
}

.close-btn[b-8rsmks82p6] {
    position: absolute;
    top: 10px;
    right: 12px;
    border: none;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
}
.btn[b-8rsmks82p6] {
    width: 50px;
    padding: 10px;
    padding-top: 30px;
    background-color: #2563eb;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    align-items: center;
}
.whitebox[b-8rsmks82p6]{
    width: 100px;
    height: 100px;
    background-color: white;
}
/* /Components/Layout/LoginLayout.razor.rz.scp.css */
.me-auto[b-raz5ou31td] {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}
.page[b-raz5ou31td] {
    min-height: 100vh;
    background: #123e67;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-link .me-auto[b-raz5ou31td] {
    color: white;
}
.home-link[b-raz5ou31td],
.home-link:visited[b-raz5ou31td],
.home-link:hover[b-raz5ou31td],
.home-link:active[b-raz5ou31td],
.home-link.active[b-raz5ou31td] {
    color: white !important;
    text-decoration: none !important;
}
a[b-raz5ou31td] {
    color: var(--bs-link-color);
    text-decoration: underline;
}
.user-icon[b-raz5ou31td] {
    text-align: center;
    font-size: 60px;
}
.user-icon img[b-raz5ou31td] {
    width: 7.5rem;
    height: 7.5rem;
    object-fit: contain;
}
.login-box[b-raz5ou31td] {
    width: 700px;
    height: 600px;
    background: #8fa0b0;
    border-radius: 40px;
    padding: 40px 50px;
    box-sizing: border-box;
}

/* /Components/Layout/MainLayout.razor.rz.scp.css */
/* .top-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */
.top-row .me-auto[b-8h0dmotat2]{
    font-size: 30px;
}
.login-btn[b-8h0dmotat2] {
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 6px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}

    .login-btn:hover[b-8h0dmotat2] {
        background-color: #1d4ed8;
    }
.page[b-8h0dmotat2] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-8h0dmotat2] {
    flex: 1;
}

.sidebar[b-8h0dmotat2] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}
.top-row[b-8h0dmotat2] {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    height: 4.5rem;
    padding: 0 2rem;

    background: transparent;
    border-bottom: none;
}
/* .top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
} */

    .top-row[b-8h0dmotat2]  a, .top-row[b-8h0dmotat2]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-8h0dmotat2]  a:hover, .top-row[b-8h0dmotat2]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-8h0dmotat2]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-8h0dmotat2] {
        justify-content: space-between;
    }

    .top-row[b-8h0dmotat2]  a, .top-row[b-8h0dmotat2]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-8h0dmotat2] {
        flex-direction: row;
    }

    .sidebar[b-8h0dmotat2] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-8h0dmotat2] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-8h0dmotat2]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-8h0dmotat2], article[b-8h0dmotat2] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-8h0dmotat2] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-8h0dmotat2] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

    .logo[b-8h0dmotat2] {
        font-size: 2rem;
        font-weight: 700;
        color: white;
        margin-left: 4.75rem;
        margin-top: 3rem;
    }
    .nav-links[b-8h0dmotat2] {
        display: flex;
        gap: 0.75rem;
        margin-left: auto;   /* 👈 đẩy cả khối sang phải */
        margin-right: 7rem;  /* 👈 kéo về bên trái một chút */
        margin-top: 3rem;
    }
    
    .nav-links a[b-8h0dmotat2] {
        font-size: 1.15rem;
        font-weight: 500;
        color: white;
        text-decoration: none;
    }
    
    .nav-links a:hover[b-8h0dmotat2] {
        text-decoration: underline;
    }
    
/* /Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-wa7oawb2kj] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-wa7oawb2kj] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-wa7oawb2kj] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-wa7oawb2kj] {
    font-size: 1.1rem;
}

.bi[b-wa7oawb2kj] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-wa7oawb2kj] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-wa7oawb2kj] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-wa7oawb2kj] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-wa7oawb2kj] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-wa7oawb2kj] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-wa7oawb2kj] {
        padding-bottom: 1rem;
    }

    .nav-item[b-wa7oawb2kj]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-wa7oawb2kj]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-wa7oawb2kj]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-wa7oawb2kj] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-wa7oawb2kj] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-wa7oawb2kj] {
        display: none;
    }

    .nav-scrollable[b-wa7oawb2kj] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* /Components/Layout/SearchLayout.razor.rz.scp.css */
.me-auto[b-lk65s99f9o] {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}
.back[b-lk65s99f9o] {
    font-size: 40px; /* 🔥 TO RA Ở ĐÂY */
    font-weight: 5000; /* đậm hơn cho rõ */
    color: black;
    cursor: pointer;
    padding-top: -20px;
    margin-left: -10px;
}
.page[b-lk65s99f9o] {
    min-height: 100vh;
    background: #123e67;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link .me-auto[b-lk65s99f9o] {
    color: white;
}

.home-link[b-lk65s99f9o],
.home-link:visited[b-lk65s99f9o],
.home-link:hover[b-lk65s99f9o],
.home-link:active[b-lk65s99f9o],
.home-link.active[b-lk65s99f9o] {
    color: white !important;
    text-decoration: none !important;
}

a[b-lk65s99f9o] {
    color: var(--bs-link-color);
    text-decoration: underline;
}
.login-box[b-lk65s99f9o] {
    width: 700px;
    height: 600px;
    background: #8fa0b0;
    border-radius: 40px;
    padding: 40px 50px;
    box-sizing: border-box;
}
/* /Components/Pages/Dang-ky-thanh-diem-nhan-hang.razor.rz.scp.css */
/* Khung chứa 6 input */
.input-container[b-qn1smql5ql] {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 cột bằng nhau */
    gap: 16px;                      /* khoảng cách giữa các ô */
    width: 400px;                   /* bạn có thể đổi */
}

/* Style cho input */
.input-container input[b-qn1smql5ql] {
    padding: 10px 12px;
    font-size: 16px;

    background-color: white;        /* nền trắng */
    border: 2px solid #000;         /* viền */
    border-radius: 8px;             /* bo góc */

    outline: none;
}

/* Khi click vào input */
.input-container input:focus[b-qn1smql5ql] {
    border-color: #0f3b66;          /* xanh khi focus */
}
.login-wrapper[b-qn1smql5ql] {
    height: calc(100vh - 56px); /* trừ top bar */
    display: flex;
    align-items: center;
    justify-content: center;
}
<style >
/* Container chính để giới hạn chiều rộng và căn giữa trang */
.registration-container[b-qn1smql5ql] {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Tạo lưới 2 cột căn đều nhau */
.input-grid[b-qn1smql5ql] {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Chia đôi 2 cột bằng nhau */
    gap: 20px; /* Khoảng cách giữa các ô */
}

.form-group[b-qn1smql5ql] {
    display: flex;
    flex-direction: column;
}

    .form-group label[b-qn1smql5ql] {
        margin-bottom: 5px;
        font-weight: 500;
    }

.form-control[b-qn1smql5ql] {
    padding: 10px;
    border-radius: 8px; /* Bo góc ô nhập liệu */
    border: 1px solid #ccc;
}

/* Căn giữa nút Submit */
.button-container[b-qn1smql5ql] {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Style cho nút Submit màu xanh, bo góc */
.btn-submit[b-qn1smql5ql] {
    background-color: #007bff; /* Màu xanh chuẩn */
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 20px; /* Bo tròn viền nút */
    font-weight: bold;
    transition: background-color 0.3s;
    cursor: pointer;
}

    .btn-submit:hover[b-qn1smql5ql] {
        background-color: #0056b3; /* Đậm hơn khi di chuột vào */
    }

</style[b-qn1smql5ql] >
/* /Components/Pages/Home.razor.rz.scp.css */
.hero[b-huq88x9v2b] {
    position: relative;
    height: 100vh; /* full màn hình */
    background-image: url("/background.png"); /* đổi thành ảnh của bạn*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    display: flex;
    align-items: center; /* căn giữa theo chiều dọc */
    padding-left: 80px; /* đẩy chữ sang phải */
}

.hero-content[b-huq88x9v2b] {
    min-height: 100vh; /* cao full màn hình */
    display: flex;
    justify-content: center; /* căn giữa ngang */
    align-items: center;
    font-size: 50px;
    max-width: 600px;
    color: rgb(250, 247, 247);
    text-transform: uppercase;
    font-weight: bold;
}
/* /Components/Pages/Login.razor.rz.scp.css */
/* bọc toàn màn hình (trừ sidebar) */
.login-wrapper[b-8jzusy9o0u] {
    height: calc(100vh - 56px); /* trừ top bar */
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-block-button[b-8jzusy9o0u] {
    /* Bắt buộc phải là block */
    display: block;
    /* Bắt buộc phải có chiều rộng cố định */
    width: 200px;
    /* Căn giữa tự động */
    margin: 0 auto;
}
.title[b-8jzusy9o0u] {
    text-align: center;
    font-size: 50px; /* làm chữ to */
    font-weight: 700; /* in đậm */
    margin-bottom: 16px;
}

.form[b-8jzusy9o0u] {
    max-width: 600px;
    display: grid;
    grid-template-columns: 150px 1fr;
    row-gap: 16px;
    column-gap: 12px;
}

.row[b-8jzusy9o0u] {
    display: contents;
}

label[b-8jzusy9o0u] {
    font-weight: 600;
}

input[b-8jzusy9o0u] {
    padding: 6px 8px;
}
/* nút */
.login-btn[b-8jzusy9o0u] {
    width: 100%;
    padding: 10px;
    padding-top: 30px;
    background-color: #2563eb;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    align-items: center;
}

    .login-btn:hover[b-8jzusy9o0u] {
        background-color: #1d4ed8;
    }
.mt-3 .form[b-8jzusy9o0u] {
    margin: 0 auto;

}
/* /Components/Pages/LoginHome.razor.rz.scp.css */
.hero[b-3inmui9vzp] {
    position: relative;
    height: 100vh; /* full màn hình */
    background-image: url("/background.png"); /* đổi thành ảnh của bạn*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    display: flex;
    align-items: center; /* căn giữa theo chiều dọc */
    padding-left: 80px; /* đẩy chữ sang phải */
}

.hero-content[b-3inmui9vzp] {
    min-height: 100vh; /* cao full màn hình */
    display: flex;
    justify-content: center; /* căn giữa ngang */
    align-items: center;
    font-size: 50px;
    max-width: 900px;
    color: rgb(250, 247, 247);
    text-transform: uppercase;
    font-weight: bold;
}
/* Container chứa cả nút X và menu */
.header-container[b-3inmui9vzp] {
    position: relative;
    display: inline-block;
}

/* Nút X */
.close-icon[b-3inmui9vzp] {
    cursor: pointer;
    font-size: 24px;
    color: white;
    text-align: right;
    padding: 10px;
}

/* Thẻ div ô trắng */
.menu-popup[b-3inmui9vzp] {
    position: absolute;
    top: 50px;
    right: 0;
    width: 250px;
    background: rgba(255, 255, 255, 0.8); /* Trắng mờ */
    backdrop-filter: blur(10px); /* Hiệu ứng làm mờ nền phía sau */
    border-radius: 20px; /* Bo góc mạnh */
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    z-index: 100;
}

    .menu-popup ul[b-3inmui9vzp] {
        list-style: none;
        padding: 0;
        margin: 0;
        color: #333;
    }

    .menu-popup li[b-3inmui9vzp] {
        padding: 10px 0;
        font-size: 16px;
        cursor: pointer;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

        .menu-popup li:last-child[b-3inmui9vzp] {
            border-bottom: none;
        }
.Lef[b-3inmui9vzp] {
    position: absolute;      /* cho phép đặt ở góc */
    top: 30px;               /* cách mép trên */           /* cách mép trái */
    right: 16px;
    background-color: #0f3b66; /* nền xanh */
    color: white;            /* chữ trắng */

    padding: 8px 14px;       /* khoảng đệm quanh chữ */
    border: 2px solid black; /* viền đen */

    border-radius: 6px;      /* bo góc nhẹ */
    font-size: 16px;
    font-weight: 600
}
.Rig[b-3inmui9vzp]{
    position: absolute;      /* cho phép đặt ở góc */
    top: 30px;               /* cách mép trên */           /* cách mép trái */
    right: 230px;
    background-color: #0f3b66; /* nền xanh */
    color: white;            /* chữ trắng */

    padding: 8px 14px;       /* khoảng đệm quanh chữ */
    border: 2px solid black; /* viền đen */

    border-radius: 6px;      /* bo góc nhẹ */
    font-size: 16px;
    font-weight: 600
}
/* /Components/Pages/Loginhome1.razor.rz.scp.css */
.hero[b-fcozzsfmcp] {
    position: relative;
    height: 100vh; /* full màn hình */
    background-image: url("/background.png"); /* đổi thành ảnh của bạn*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    display: flex;
    align-items: center; /* căn giữa theo chiều dọc */
    padding-left: 80px; /* đẩy chữ sang phải */
}

.hero-content[b-fcozzsfmcp] {
    min-height: 100vh; /* cao full màn hình */
    display: flex;
    justify-content: center; /* căn giữa ngang */
    align-items: center;
    font-size: 50px;
    max-width: 900px;
    color: rgb(250, 247, 247);
    text-transform: uppercase;
    font-weight: bold;
}
/* Container chứa cả nút X và menu */
.header-container[b-fcozzsfmcp] {
    position: relative;
    display: inline-block;
}

/* Nút X */
.close-icon[b-fcozzsfmcp] {
    cursor: pointer;
    font-size: 24px;
    color: white;
    text-align: right;
    padding: 10px;
}

/* Thẻ div ô trắng */
.menu-popup[b-fcozzsfmcp] {
    position: absolute;
    top: 50px;
    right: 0;
    width: 250px;
    background: rgba(255, 255, 255, 0.8); /* Trắng mờ */
    backdrop-filter: blur(10px); /* Hiệu ứng làm mờ nền phía sau */
    border-radius: 20px; /* Bo góc mạnh */
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    z-index: 100;
}

    .menu-popup ul[b-fcozzsfmcp] {
        list-style: none;
        padding: 0;
        margin: 0;
        color: #333;
    }

    .menu-popup li[b-fcozzsfmcp] {
        padding: 10px 0;
        font-size: 16px;
        cursor: pointer;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

        .menu-popup li:last-child[b-fcozzsfmcp] {
            border-bottom: none;
        }
.Lef[b-fcozzsfmcp] {
    position: absolute;      /* cho phép đặt ở góc */
    top: 30px;               /* cách mép trên */           /* cách mép trái */
    right: 16px;
    background-color: #0f3b66; /* nền xanh */
    color: white;            /* chữ trắng */

    padding: 8px 14px;       /* khoảng đệm quanh chữ */
    border: 2px solid black; /* viền đen */

    border-radius: 6px;      /* bo góc nhẹ */
    font-size: 16px;
    font-weight: 600
}
/* /Components/Pages/Register.razor.rz.scp.css */
.title[b-5t3fhlf0r1] {
    font-size: 50px; /* làm chữ to */
    font-weight: 700; /* in đậm */
    margin-bottom: 16px;
    text-align: center;
}
.form[b-5t3fhlf0r1] {
    max-height: 1000px;
    max-width: 600px;
    display: grid;
    grid-template-columns: 140px 1fr;
    row-gap: 30px;
    column-gap: 20px;
    align-items:center;
    align-content:center;
}
.center-block-button[b-5t3fhlf0r1] {
    /* Bắt buộc phải là block */
    display: block;
    /* Bắt buộc phải có chiều rộng cố định */
    width: 200px;
    /* Căn giữa tự động */
    margin: 0 auto;
}
.row[b-5t3fhlf0r1] {
    display: contents;
    align-items:center;
}

label[b-5t3fhlf0r1] { 
    font-weight: 600;
    height: 30px;
}

input[b-5t3fhlf0r1] {
    padding: 50px 50px;
}
.form[b-5t3fhlf0r1]{
    margin-bottom:  30px;
}
.role-radio[b-5t3fhlf0r1] {
    transform: scale(1.2);
}
a[b-5t3fhlf0r1] {
    text-decoration: none; /* bỏ gạch chân */
    color: inherit;
}
.textA[b-5t3fhlf0r1]{
    margin-left: 30px;
}
/* /Components/Pages/tra-cuu-diem-nhan-hang.razor.rz.scp.css */
/* ===== RESET ẢNH HƯỞNG LAYOUT CHA ===== */
:host[b-rywv9i4u5c] {
    display: block;
    width: 100%;
}
.page-wrapper[b-rywv9i4u5c] {
    width: 100%;
    min-height: 100vh;
    background: #0f3b66;
    padding: 20px 40px;
    box-sizing: border-box;
}

/* ===== HEADER ===== */
.header[b-rywv9i4u5c] {
    display: flex;
    align-items: center;
    gap: 16px;
    color: white;
    margin-bottom: 16px;
}

.header-title[b-rywv9i4u5c] {
    font-size: 26px;
    font-weight: 500;
}

/* ===== CARD CHÍNH – TRẢI NGANG ===== */
.info-card[b-rywv9i4u5c] {
    width: 100%;
    background: #aeb6bd;
    border-radius: 36px;
    padding: 32px 48px;

    min-height: calc(100vh - 120px);
    
}


/* ===== TITLE ===== */
.card-title[b-rywv9i4u5c] {
    font-size: 30px;
    font-weight: 600;
    color: #000; 
    margin-bottom: 28px;
}
.left-info .text[b-rywv9i4u5c] {
    font-size: 35px;
    font-weight: 200;
    color: #000;
}
.left-info .underline[b-rywv9i4u5c] {
    border-bottom: 2px solid #000;
    padding-bottom: 2px;
}
.left-info .icon[b-rywv9i4u5c] {
    font-size: 25px;
}



/* ===== CONTENT NGANG ===== */
.card-content[b-rywv9i4u5c] {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 300px;
}

/* ===== LEFT ===== */
.left-info[b-rywv9i4u5c] {
    display: flex;
    margin-top: 18px;
    flex-direction: column;
    gap: 55px;
    font-size: 20px;
}

/* ===== RIGHT BOX – NẰM TRONG CARD ===== */

.right-box[b-rywv9i4u5c] {
    width: 650px;
    height: 290px;
    background: #f3f3f37b;
    border: 2px solid #000;   /* 🔥 VIỀN ĐEN Ở ĐÂY */
    
    margin-top: 40px;
    

    display: flex;
    flex-direction: column;   /* xếp dọc */
    justify-content: flex-start;   /* 🔥 chữ lên trên */
    

    align-items: center;
    padding-top: 80px; 
    padding: 44px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.25);
}
.box-title[b-rywv9i4u5c] {
    display: flex;            /* 🔥 quan trọng */
    align-items: center;      /* icon + chữ cùng hàng */
    gap: 8px;

    font-size: 40px;
    font-weight: 300;
    color: #000;

    margin-bottom: 16px;
    text-align: center;
}
.box-number[b-rywv9i4u5c] {
    font-size: 50px;
    font-weight: 350;
    margin-top: 18px;
    color: #000;
    line-height: 1;
}

/* /Components/Pages/Tra-cuu-don-hang.razor.rz.scp.css */
.login-box[b-qtykk89ww4] {
    width: 700px;
    height: 300px;
    background: #8fa0b0;
    border-radius: 40px;
    padding: 40px 50px;
    box-sizing: border-box;
}
.row[b-qtykk89ww4] {
    display: contents;
}
.Text[b-qtykk89ww4] {
    text-align: center;
    font-size: 60px;
    font-weight: 700;                /* chữ đậm */
    color: black;                    /* màu đen */
    margin-bottom: 16px;
}
.row input[b-qtykk89ww4] {
    width: 100%;
    padding: 10px 14px;

    background-color: rgba(255, 255, 255, 0.7); /* trắng mờ */
    border: 2px solid #000;          /* viền đen */
    border-radius: 8px;              /* bo góc */

    font-size: 16px;
    outline: none;
}
.row input:focus[b-qtykk89ww4] {
    background-color: white;
    border-color: #0f3b66;           /* xanh đậm khi focus */
}
.btn[b-qtykk89ww4] {
    width: 120px;
    height: 50px;
    margin-top: 20px;
    margin-left: 220px;
    background-color: #0f3b66; /* xanh */
    color: white;
    border: 1px solid black;
    border-radius: 6px;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;

    display: flex;
    justify-content: center;
}
