.me-auto[b-raz5ou31td] {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}
.page[b-raz5ou31td] {
    min-height: 100vh;
    background: #124171;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-link .me-auto[b-raz5ou31td] {
    color: white;
}
.home-link[b-raz5ou31td],
.home-link:visited[b-raz5ou31td],
.home-link:hover[b-raz5ou31td],
.home-link:active[b-raz5ou31td],
.home-link.active[b-raz5ou31td] {
    color: white !important;
    text-decoration: none !important;
}
a[b-raz5ou31td] {
    color: var(--bs-link-color);
    text-decoration: underline;
}


