.me-auto {
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
}
.page {
    min-height: 100vh;
    background: #124171;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-link .me-auto {
    color: white;
}
.home-link,
.home-link:visited,
.home-link:hover,
.home-link:active,
.home-link.active {
    color: white !important;
    text-decoration: none !important;
}
a {
    color: var(--bs-link-color);
    text-decoration: underline;
}


