@inherits LayoutComponentBase

<div class="page">
    <div class="me-auto fw-bold">
        <NavLink href="/" class="home-link" Match="NavLinkMatch.All">
            Home
        </NavLink>
    </div>

    @Body
</div>
