@inherits LayoutComponentBase

<div class="page">
    <div class="me-auto fw-bold">
        <NavLink href="/loginhome" class="home-link" Match="NavLinkMatch.All">
            <a class="home-link active" href="/loginhome">Home</a>
        </NavLink>
    </div>
    <div class="login-box">
        @Body
    </div>
</div>