@inherits LayoutComponentBase

<div class="page">
    <div class="me-auto fw-bold">
        <div class="header">
            <span class="back" onclick="location.href='/loginhome'">←</span>
        </div>
    </div>
        @Body
</div>