/* bọc toàn màn hình (trừ sidebar) */
.login-wrapper {
    height: calc(100vh - 56px); /* trừ top bar */
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 50px; /* làm chữ to */
    font-weight: 700; /* in đậm */
    margin-bottom: 16px;
}

.form {
    max-width: 500px;
    display: grid;
    grid-template-columns: 140px 1fr;
    row-gap: 16px;
    column-gap: 12px;
}

.row {
    display: contents;
}

label {
    font-weight: 600;
}

input {
    padding: 6px 8px;
}
/* nút */
.login-btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #2563eb;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

    .login-btn:hover {
        background-color: #1d4ed8;
    }
