.title {
    font-size: 50px; /* làm chữ to */
    font-weight: 700; /* in đậm */
    margin-bottom: 16px;
}
.form {
    max-width: 500px;
    display: grid;
    grid-template-columns: 140px 1fr;
    row-gap: 16px;
    column-gap: 12px;
}

.row {
    display: contents;
}

label {
    font-weight: 600;
}

input {
    padding: 6px 8px;
}