@page "/Dang-ky-thanh-diem-nhan-hang"
@layout Layout.LoginLayout

<div class="registration-container mt-5">
    <div class="input-grid">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" placeholder="Nhập">
        </div>
        <div class="form-group">
            <label>Số điện thoại:</label>
            <input type="tel" class="form-control" placeholder="Nhập">
        </div>
        <div class="form-group">
            <label>CCCD/CMT:</label>
            <input type="text" class="form-control" placeholder="Nhập">
        </div>
        <div class="form-group">
            <label>Tỉnh/Thành phố</label>
            <input type="text" class="form-control" placeholder="Nhập">
        </div>
        <div class="form-group">
            <label>Phường/Xã:</label>
            <input type="text" class="form-control" placeholder="Nhập">
        </div>
        <div class="form-group">
            <label>Địa chỉ cụ thể</label>
            <input type="text" class="form-control" placeholder="Nhập">
        </div>
    </div>

    <div class="button-container mt-4">
        <button class="btn-submit">Submit</button>
    </div>
</div>