@page "/Dang-ky-thanh-diem-nhan-hang"
@layout Layout.LoginLayout
<div class="mt-3">
    <div class="input-container">
    <div>
        <a>Số điện thoại</a>
        <input type="text" placeholder="Nhâp">
    </div>
    <div>
        <a>Số điện thoại</a>
        <input type="text" placeholder="Nhâp">
    </div><div>
        <a>Số điện thoại</a>
        <input type="text" placeholder="Nhâp">
    </div><div>
        <a>Số điện thoại</a>
        <input type="text" placeholder="Nhâp">
    </div><div>
        <a>Số điện thoại</a>
        <input type="text" placeholder="Nhâp">
    </div><div>
        <a>Số điện thoại</a>
        <input type="text" placeholder="Nhâp">
    </div>
    </div>
    <button>Submit</button>
</div>
@code {
    
}