.hero {
    position: relative;
    height: 100vh; /* full màn hình */
    background-image: url("/background.png"); /* đổi thành ảnh của bạn*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    display: flex;
    align-items: center; /* căn giữa theo chiều dọc */
    padding-left: 80px; /* đẩy chữ sang phải */
}

.hero-content {
    min-height: 100vh; /* cao full màn hình */
    display: flex;
    justify-content: center; /* căn giữa ngang */
    align-items: center;
    font-size: 50px;
    max-width: 900px;
    color: rgb(250, 247, 247);
    text-transform: uppercase;
    font-weight: bold;
}
/* Container chứa cả nút X và menu */
.header-container {
    position: relative;
    display: inline-block;
}

/* Nút X */
.close-icon {
    cursor: pointer;
    font-size: 24px;
    color: white;
    text-align: right;
    padding: 10px;
}

/* Thẻ div ô trắng */
.menu-popup {
    position: absolute;
    top: 50px;
    right: 0;
    width: 250px;
    background: rgba(255, 255, 255, 0.8); /* Trắng mờ */
    backdrop-filter: blur(10px); /* Hiệu ứng làm mờ nền phía sau */
    border-radius: 20px; /* Bo góc mạnh */
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    z-index: 100;
}

    .menu-popup ul {
        list-style: none;
        padding: 0;
        margin: 0;
        color: #333;
    }

    .menu-popup li {
        padding: 10px 0;
        font-size: 16px;
        cursor: pointer;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

        .menu-popup li:last-child {
            border-bottom: none;
        }
