@page "/loginhome"
@layout Layout.LoginHomeLayout
<PageTitle>Trang chủ</PageTitle>
<div class="hero">
    <h1 class="hero-content">
        Welcome Back!<br />
        Theo dõi và quản lý đơn hàng<br />
        của bạn một cách dễ dàng
    </h1>
    <a class="Feature Rig" href="/tra-cuu-diem-nhan-hang">Tra cứu điểm nhận hàng</a>
    <a class="Feature Lef" href="/tra-cuu-don-hang">Thông tin đơn hàng</a>
</div>
@code {
    // Biến điều khiển ẩn hiện
    private bool isVisible = true;

    // Hàm đảo ngược trạng thái
    private void ToggleMenu()
    {
        isVisible = !isVisible;
    }
}
