/* bọc toàn màn hình (trừ sidebar) */
.login-wrapper {
    height: calc(100vh - 56px); /* trừ top bar */
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-block-button {
    /* Bắt buộc phải là block */
    display: block;
    /* Bắt buộc phải có chiều rộng cố định */
    width: 200px;
    height: 60px;
    /* Căn giữa tự động */
    margin: 0 auto;
    background-color: #D9D9D9;
    color: #000000;
    border-radius: 20px;
    border: none;
    font-size: 25px;
}
.center-block-button:hover {
    background-color: #1d4ed8;
    color: white;
    cursor: pointer;
}
.title {
    text-align: center;
    font-size: 50px; /* làm chữ to */
    font-weight: 700; /* in đậm */
    margin-bottom: 16px;
}

.form {
    max-width: 600px;
    margin: 0 auto;
    font-size: 25px;
}
.row {
    display: flex;
    flex-direction: column; /* xếp dọc */
    margin-bottom: 16px;
}


label {
    font-weight: 600;
}

input {
    padding: 6px 8px;
    border-radius: 20px;
    border: none;
}
/* nút */
.login-btn {
    width: 100%;
    padding: 10px;
    padding-top: 30px;
    background-color: #D9D9D9;
    color: rgb(0, 0, 0);
    font-weight: 600;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    align-items: center;
}

    .login-btn:hover {
        background-color: #1d4ed8;
    }
.mt-3 .form {
    margin: 0 auto;
}

::deep a.Regis {
    color: #020fc2;
    font-size: 18px;
    font-weight: 500;
    text-decoration: underline;
}
.user-icon {
    text-align: center;
    font-size: 60px;
}
.user-icon img {
    width: 7.5rem;
    height: 7.5rem;
    object-fit: contain;
}
.login-box {
    width: 800px;
    height: 650px;
    background: #8fa0b0;
    border-radius: 40px;
    padding: 40px 50px;
    box-sizing: border-box;
}