@page "/loginhome1"
@layout Layout.LoginHomeLayout
<PageTitle>Trang chủ</PageTitle>
<div class="hero">
    <h1 class="hero-content">
        Welcome Back!<br />
        Hãy theo dõi và quản lý<br />
        điểm nhận hàng của bạn
    </h1>
    <a class="Feature Lef" href="/Dang-ky-thanh-diem-nhan-hang">Đăng ký trở thành điểm nhận hàng</a>
</div>
@code {
}
