@page "/register"
@inject HttpClient Http
@layout Layout.LoginLayout
@using MyBlazorApp.Components.Model
@inject NavigationManager NavManager
@using Microsoft.AspNetCore.Components.Forms

<EditForm Model="model" OnValidSubmit="RegisterUser" FormName="RegisterForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form mt-4">

        <div class="row">
            <label>Họ và tên</label>
            <InputText @bind-Value="model.FullName" />
        </div>

        <div class="row">
            <label>Số điện thoại</label>
            <InputText @bind-Value="model.PhoneNumber" />
        </div>

        <div class="row">
            <label>Username/Email</label>
            <InputText @bind-Value="model.Username" />
        </div>

        <div class="row">
            <label>Mật khẩu</label>
            <InputText type="password" @bind-Value="model.Password" />
        </div>

        <div class="row">
            <label>Vai trò</label>
            <div>
                <input type="radio"
                       name="Role"
                       @bind="model.Role" /> Khách hàng

                <input type="radio"
                       name="Role"
                       @bind="model.Role" /> Chủ điểm
            </div>

            <ValidationMessage For="@(() => model.Role)" />
        </div>

    </div>

    <p class="text-danger">@message</p>

    <button class="btn btn-primary mt-3 center-block-button">
        Đăng ký
    </button>
</EditForm>

@code {
    RegisterRequest model = new();
    string message = "";

    async Task RegisterUser()
    {   
        if (string.IsNullOrEmpty(model.Role))
        {
            message = "Vui lòng chọn vai trò";
            return;
        }
        string url = model.Role == "HubOwner"
        ? "api/auth/hub-register"
        : "api/auth/user-register";

        var response = await Http.PostAsJsonAsync(url, model);

        message = await response.Content.ReadAsStringAsync();

        if (response.IsSuccessStatusCode)
            NavManager.NavigateTo("/login");
    }
}

