.title {
    font-size: 50px; /* làm chữ to */
    font-weight: 700; /* in đậm */
    margin-bottom: 16px;
    text-align: center;
}

.form {
    max-width: 600px;
    margin: 0 auto;
    font-size: 25px;
}
.row {
    display: flex;
    flex-direction: column; /* xếp dọc */
    margin-bottom: 16px;
}

.center-block-button {
    /* Bắt buộc phải là block */
    display: block;
    /* Bắt buộc phải có chiều rộng cố định */
    width: 200px;
    height: 50px;
    /* Căn giữa tự động */
    margin: 0 auto;
    border-radius: 25px;
    border: none;
    background-color: #d9d9d9;
    color:#000000;
    font-size: 20px;
}



label { 
    font-weight: 600;
    height: 30px;
}

input {
    padding: 6px 8px;
    border-radius: 20px;
    border: none;
}
.form{
    margin-bottom:  30px;
}
/*vai trò*/
.role-radio {
    transform: scale(2.0);
}
.role-group {
    display: flex;
    gap: 40px; /* khoảng cách giữa 2 lựa chọn */
    align-items: center;
}

.role-item {
    display: flex;
    align-items: center;
    gap: 12px; /* khoảng cách giữa chấm tròn và chữ */
    font-size: 25px;
    cursor: pointer;
    margin: 0 auto;
}

.role-radio {
    transform: scale(2.0);
}

a {
    text-decoration: none; /* bỏ gạch chân */
    color: inherit;
}
.textA{
    margin-left: 30px;
}
/*icon*/
.user-icon {
    text-align: center;
    font-size: 60px;
}
.user-icon img {
    width: 7.5rem;
    height: 7.5rem;
    object-fit: contain;
}
/*card to nhấtnhất*/
.register-box {
    width: 800px;
    height: 850px;
    background: #8fa0b0;
    border-radius: 40px;
    padding: 40px 50px;
    box-sizing: border-box;
}
/*background*/
:deep(.page) {
    background: url("/background.png") no-repeat center center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
