.title {
    font-size: 50px; /* làm chữ to */
    font-weight: 700; /* in đậm */
    margin-bottom: 16px;
    text-align: center;
}
.form {
    max-height: 1000px;
    max-width: 600px;
    display: grid;
    grid-template-columns: 140px 1fr;
    row-gap: 30px;
    column-gap: 20px;
    align-items:center;
    align-content:center;
}
.center-block-button {
    /* Bắt buộc phải là block */
    display: block;
    /* Bắt buộc phải có chiều rộng cố định */
    width: 200px;
    /* Căn giữa tự động */
    margin: 0 auto;
}
.row {
    display: contents;
    align-items:center;
}

label { 
    font-weight: 600;
    height: 30px;
}

input {
    padding: 50px 50px;
}
.form{
    margin-bottom:  30px;
}
.role-radio {
    transform: scale(1.2);
}
a {
    text-decoration: none; /* bỏ gạch chân */
    color: inherit;
}
.textA{
    margin-left: 30px;
}