/* Background */
.page-wrapper {
    min-height: 100vh;
    background-color: #0f3b66;
    padding: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    gap: 14px;
    color: white;
    margin-bottom: 24px;
}

.back {
    font-size: 26px;
    cursor: pointer;
}

.header-title {
    font-size: 30px;
    font-weight: 500;
}

/* Main card */
.info-card {
    background-color: #bfc6cc;
    border-radius: 26px; /* bo góc lớn hơn */
    padding: 32px 36px;
}

/* Title */
.info-card h2 {
    margin-bottom: 26px;
    font-size: 26px;
    font-weight: 700;
}

/* Content layout */
.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Left info */
.left-info {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.info-row {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 20px;
}

.icon {
    font-size: 22px;
}

.text {
    font-size: 20px;
}

.underline {
    border-bottom: 2px solid #000;
    padding-bottom: 3px;
}

/* Right box */
.right-box {
    width: 320px;
    height: 180px;
    background-color: #dcdcdc;
    border: 1.5px solid #333;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-title {
    font-size: 20px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.box-number {
    font-size: 46px;
    font-weight: 700;
}

