.login-box {
    width: 800px;
    height: 420px;
    background: #a7b4c1;
    border-radius: 40px;
    padding: 40px 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;      /* 🔥 căn giữa ngang */
    justify-content: center; 
}
.row {
    width: 100%;
    display: flex;
    justify-content: center;  /* 🔥 input ra giữa */
    margin: 20px 0;
}
.Text {
    text-align: center;
    font-size: 50px;
    font-weight: 700;                /* chữ đậm */
    color: rgb(255, 255, 255);                    /* màu đen */
    margin-bottom: 38px;
}
.row input {
    width: 100%;
    max-width: 400px;        /* 🔥 không quá to trên màn lớn */
    height: 64px;

    padding: 0 24px;
    text-align: left;

    background: white;
    border: none;
    border-radius: 28px;

    font-size: 20px;
}
.row input:focus {
    background-color: white;
    border-color: #0f3b66;           /* xanh đậm khi focus */
}
.btn {
    width: 140px;
    height:60px;
    margin-top: 20px;
   
    background-color: #c2c8cf; /* xanh */
    color: rgba(17, 16, 16, 0.881);
    border: 1px solid rgba(239, 231, 231, 0.808);
    border-radius: 25px;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 768px) {
    .login-box {
        width: 90%;
    }

    .page-title {
        font-size: 42px;
    }
}