/* Background */
.page-wrapper[b-rywv9i4u5c] {
    min-height: 100vh;
    background-color: #0f3b66;
    padding: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    width: 100%;
    margin-top: 100px;
    margin-left: 50px;
}


/* Header */
.header {
    height: 48px;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.back {
    font-size: 26px;
    color: white;
    cursor: pointer;
}


/* Main card */
.info-card {
    background-color: #b8c0c8;
    border-radius: 26px;
    padding: 28px 32px;
}



/* Title */
.info-card h2[b-rywv9i4u5c] {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
}
.card-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 24px;
}



/* Content layout */
.card-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}



/* Left info */
.left-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-row {
    display: flex;
    align-items: center;
    gap: 14px;
    font-size: 18px;
}



.icon[b-rywv9i4u5c] {
    font-size: 20px;
}


.text[b-rywv9i4u5c] {
    font-size: 18px;
}


.underline[b-rywv9i4u5c] {
    border-bottom: 2px solid #000;
    padding-bottom: 2px;
}


/* Right box */
.right-box {
    width: 300px;
    height: 170px;
    background-color: #d9d9d9;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-title {
    font-size: 18px;
    margin-bottom: 16px;
}

.box-number {
    font-size: 40px;
    font-weight: 700;
}


