@page "/tra-cuu-don-hang"
@layout Layout.SearchLayout
<div class="login-box">
    <div class="Text">Tra cứu đơn hàng</div>
    <div class="row">
        <input @bind="Idbox" placeholder="Nhập mã đơn hàng" />
    </div>
    <button class="btn btn-primary" @onclick="Search">Nhập</button>
</div>
@code{
    string Idbox;
    void Search(){
        
    }
}